@import url("https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.toDoList {
    width: 70%;
    margin: 30px auto;
    border-radius: 4px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toDoList ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.toDoList ul li {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 4px 40px 4px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toDoList ul li:nth-child(odd) {
    background: #f9f9f9;
}

.toDoList ul li:hover {
    background: #ddd;
}

.toDoList ul li.done {
    background: #888;
    color: #fff;
    text-decoration: line-through;
    padding: 8px 40px 8px 40px;
}

.toDoList ul li.done::before {
    content: "";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.toDoList .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fbbb21;
    padding: 20px 40px 25px 40px;
    color: white;
    text-align: center;
    width: 100%;
    height: 8rem;
}

.inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.toDoList input {
    display: flex;
    border: none;
    width: 75%;
    padding: 10px;
    font-size: 16px;
}

.toDoList .btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    border: 0;
}

.toDoList .btn-add:hover {
    background-color: #bbb;
}

.none {
    display: none;
}

.btn-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 25%;
    background: #d6d1d1;
    color: #555;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    border: 0;
}

.toDoList .btn-edit:hover {
    background-color: #bbb;
}

.ds {
    display: flex;
    width: 100%;
    margin-top: 5px;
}

.headerTitle {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.removeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 25%;
    background: #d6d1d1;
    color: #555;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    border: 0;
    margin-left: 25%;
}

.removeButton:hover {
    background-color: #bbb;
}